/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.header {
  padding: 20px;
  text-align: center;
  background: white;
  color: #333;
  font-size: 30px;
}
h1 {
    margin: 60px auto;
    width: 100%;
    font-size: 2.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    margin: 60px auto;
    width: 100%;
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    margin: 60px auto;
    width: 100%;
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    margin: 60px auto;
    width: 100%;
    font-size: 1em;
    line-height: 2.0em;
    color: #333;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    word-wrap: break-word;
}
footer {
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
/* Table Styles */
table {
  border-collapse: collapse; /* Make table borders touch */
  width: 60%;                /* Set table width */
  margin: 60px auto;         /* Center the table */
}
th, td {
  border: 1px solid #ddd;   /* Light gray cell borders */
  text-align: left;         
  padding: 12px;            
}
th {
  background-color: #f0f0f0; /* Light gray header background */
}
table, th, td {  /* This will apply the font to the entire table */
  font-family: 'Helvetica', 'Arial', 'Sans-Serif'; /* Replace with your desired font */
} 
.standard-list { /* Styles applied to lists with the class 'standard-list' */
    list-style-type: disc;
    margin: 60px auto;
    width: 90%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; /* Example: Use a different font */
}
.standard-list li {
    margin-bottom: 15px;
}
/* General Hero Image Styles */
.hero-image {
  height: 300px; /* Adjust as needed */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* For text positioning */
}
.hero-text {
  display: flex;          /* Enable flexbox for alignment */
  flex-direction: column; /* Arrange items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;     /* Center text within each element */
  color: white;           /* Set text color to white */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);  /* Shadow properties */
}
/* Page-Specific Hero Image Styles */
.phil_2030-page {
  background-image: url("/heroimage-2030-kelly-sikkema.jpg");
}
/* Content Image */
.content-image {
  width: 800px; 
  height: auto; /* Maintain aspect ratio */
}
/* Thumbnail Image */
img.thumbnail {
    width: 50%; /* Adjust this percentage as needed */
    max-width: 600px; /* Adjust this to your desired maximum width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Crop to fit the square container */
}
.text-block { /* Or the class of your text container */
  text-align: center;
}
.thumbnail-container {
  display: flex; /* Enable flexbox */
  align-items: flex-start; /* Align items to the top of the container */
}
.thumbnail-text {
  align-self: flex-end; /* Align the text to the bottom of itself (top right of the image) */
  margin-left: auto; /* Push the text to the right */
}
footer {
  margin: 0 auto; /* Top/bottom margin 0, left/right margin auto */
  width: 80%; /* Adjust width as needed */
}

p span[onclick]:hover {
  text-decoration: underline; /* or other hover styles */
}
/* new code */
.container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.course {
    border-bottom: 1px solid #ccc;
    padding: 0px 0;
}

.course img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 200px;
}

.course h2 {
    color: #333;
}

.course p {
    font-size: 1em;
    line-height: 1.5;
}

.course a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.course a:hover {
    text-decoration: underline;
}

/* new code */
.container_blurb {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.text_blurb {
    border-bottom: 0px solid #ccc;
    padding: 0px 0;
}

.text_blurb img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    max-width: 200px;
}

.text_blurb h2 {
    color: #333;
}

.text_blurb p {
    font-size: 1em;
}

.text_blurb a {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

.text_blurb a:hover {
    text-decoration: underline;
}
